body{
	background-image: url(img/bckgrd_TR7.png);
	background-repeat: y;
	font-style: Karla;
	padding: 0;
	margin: 0;
}

#main{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.35);
}
article{
	width: 500px;
	margin: auto;
	background-color: rgba(255,255,255,0.4);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 5px;
	font-size: 16pt;
	transition: border-color 0.2s;
	border: solid white 1.5px;
}
article:hover{
	background-color: rgba(255,255,255,0.5);
}
a{
	text-decoration: none;
	color: inherit;
}
.plus{
	color: #20731C;
	font-size: 12pt;
	font-weight: bold;
	padding: 5px;
}
.moins{
	color: #BF241F;
	font-size: 12pt;
	font-weight: bold;
	padding: 4px;
}
.plus:hover{
	background-color: rgba(32, 115, 28, 0.2);
	border-radius: 4px;
}
.moins:hover{
	background-color: rgba(191, 36, 31, 0.2);
	border-radius: 4px;
}
.date{
	font-size: 8pt;
	color: rgb(20,20,20);
	width: 100%;
}
.deleteCross{
	position: relative;
	text-align: right;
	float: right;
	color: rgb(50,50,50);
	transition: 0.1s;
}
.deleteCross:hover{
	color: rgb(175,0,0);
}
.touit_text{
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
}
.touit_text a{
	color: blue;
}
.touit_text a:hover{
	text-decoration: underline;
}
form{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 3%;
	background-color: rgba(0,0,0,0.3);
	border-radius-bottom-right: 50px;
	border-bottom: solid white 1px;
	border-right: solid white 1px;
}
.textArea{
	width: 80%;
	height: 10%;
}